@import url('https://fonts.googleapis.com/css2?family=Notable&family=Major+Mono+Display&family=Outfit&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --header-height: 4.8rem;
}
[data-bs-theme="dark"] {
    --bs-body-bg: #101010;
    --bs-body-color: #ffffff;
}
[data-bs-theme="light"] {
    --bs-body-bg: #ffffff;
    --bs-body-color: #101010;
}
body {
  font-family: "Outfit", sans-serif;
}
.custom-hero-section {
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
}
.custom-navbar {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 9999;
  transition: all 0.3s ease;

  .brand {
    text-transform: capitalize;
    line-height: 0.96;
  }

  .brand h1 {
    font-family: "Notable", sans-serif;
    font-size: 1.45rem;
  }
  .brand small {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 0.85rem;
    letter-spacing: 1.2px;
    flex-direction: row;
    column-gap: 0.6rem;

  }
}
.navbar .nav-link:hover {
  color: currentColor !important;
}
.pricing-subtitle{
    display:inline-block;
    background:#f3f4f6;
    color:#6c757d;
    padding:.45rem 1rem;
    border-radius:999px; 
    font-size:.8rem;
    font-weight:600;
    letter-spacing:.08rem;
}
.pricing-description{
    max-width:600px;
}
.pricing-card{
    position:relative;
    border:none;
    border-radius:22px;
    transition:.35s;
    overflow:hidden;
}
.pricing-card:hover{
    transform:translateY(-10px);
    box-shadow:0 25px 60px rgba(0,0,0,.12)!important;
}
.pricing-active{
    border:3px solid #0d6efd !important;
    transform:scale(1.01);
}
.popular-badge {
    position:absolute;
    top:18px;
    right:18px;
    background:#0d6efd;
    color:#fff;
    font-size:.72rem;
    font-weight:700;
    padding:.45rem .9rem;
    border-radius:999px;
    display:flex;
    align-items:center;
}
.pricing-card .btn{
    padding:.9rem;
    font-weight:600;
}
.pricing-card hr{
    opacity:.1;
}
.pricing-card ul{
    margin:0;
    padding:0;
}
.pricing-card li{
    font-size:.95rem;
}
@media(max-width:991px){
    .pricing-active{
        transform:none;
    }
}
@media(max-width:576px){
    .display-4{
        font-size:2.3rem;
    }
    .pricing-card {
      border: 2px solid currentColor;
      border-radius:18px;
    }
}
.profile-placeholder {
  width: 336px;
  height: 336px;
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    #1d1d1d 25%,
    #303030 50%,
    #1d1d1d 75%
  );
  background-size: 200% 100%;
  animation: skeleton 1.5s infinite linear;
}
@keyframes skeleton {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
.custom-offset-btn {
  outline-offset: 4px !important;
  box-shadow: none !important;
}